html{
    background-image:url("lippies.jpg");
    background-size: cover;
  }
  html {
    background-color: lightblue;
  }
  .container {
    background-color: white;
    width: 35%;
    padding: 30px auto;
    margin: 30px auto;
    border: solid 5px pink;
    border-radius: 10px;
    text-align: center;
  }
  .content {
    text-align: center;
  }
  
  button {
    border: 0;
    border-radius: 0.25rem;
    background: pink;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  input{
    width: 50%;
    padding: 10px;
    margin:10px;
    
  }